<section>
    <div class="container mt-5">
        <div class=" row">
            <div>
                <p class="text-danger">{{message}}</p>
                <table class="table">
                    <tr class="bg-dark text-white">
                        <th>Date</th>
                        <th>Order Id</th>
                        <th>Address</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    {{#each order}}
                    <tr>
                        <td>{{this.date}}</td>
                        <td>{{this._id}}</td>
                        <td>{{this.deliveryDetails.address}}<br>{{this.deliveryDetails.pincode}}<br>{{this.deliveryDetails.phone}}
                        </td>
                        <td>{{this.totalprice}}</td>
                        <td>{{this.countItems}}</td>
                        <td>{{this.status}}</td>
                        <td><a class="btn btn-warning" href="/viewOrderProducts/{{this._id}}">View
                                Product</a></td>
                    </tr>
                    {{/each}}

                </table>
            </div>
            
        </div>
    </div>
</section>